

.instance__container {
  margin:auto;
  margin-top:50px;
  color:#000;
  max-width:80%;
  //background-color: #f2f2f3;
}

.instance__container-dark {
  color:#fff;

}


.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

pre {
  font-family: monaco,consolas,"courier new",monospace;
  font-size: 1em;
  min-height: 3em;
  overflow: auto;
  padding: 1em;
  display: inline-block;
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
