<div [ngClass]="{'instance__container-dark': darkMode}" class="instance__container example-tree">

  <mat-tab-group>
    <mat-tab label="Form">

      <div class="tab-header">
        <div class="mode-toggle__container">
          <span *ngIf="viewOnly" class="mode-toggle__text">View</span>
          <span *ngIf="!viewOnly" class="mode-toggle__text">Edit</span>
          <label class="toggle-button__container">
            <input (click)="toggleDisabled()" type="checkbox" class="mode-toggle__input"/>
            <span [ngClass]="{'mode-toggle__bg-checked': viewOnly}" class="mode-toggle__bg"></span>
            <span [ngClass]="{'mode-toggle__circle-checked': viewOnly}" class="mode-toggle__circle"></span>
          </label>
        </div>
      </div>

     <cedar-metadata-form [id]="id" [viewOnly]="viewOnly" (changed)="onChanged($event)"></cedar-metadata-form>

      <div>
        <button mat-raised-button color="primary" [disabled]="!formValid || viewOnly" (click)="onSubmit()">Save
        </button>
      </div>

    </mat-tab>
    <mat-tab label="Value">
      <div *ngIf="payload">
        <div class="tab-header" >
          <button id="payloadCopy" mat-raised-button color="accent" (click)="copyToClipboard('payload','payloadCopy')">
            Copy
          </button>
        </div>
        <pre><span id="payload">{{ payload | json}}</span></pre>
      </div>
    </mat-tab>
    <mat-tab label="JSON-LD">
      <div *ngIf="jsonLD">
        <div class="tab-header" >
          <button id="jsonLDCopy" mat-raised-button color="accent" (click)="copyToClipboard('jsonLD', 'jsonLDCopy')">
            Copy
          </button>
        </div>
        <pre><span id="jsonLD">{{ jsonLD | json}}</span></pre>
      </div>
    </mat-tab>
    <mat-tab label="RDF">
      <div *ngIf="rdf">
        <div class="tab-header" >
          <button id="rdfCopy" mat-raised-button color="accent" (click)="copyToClipboard('rdf', 'rdfCopy')">
            Copy
          </button>
        </div>
        <pre><div id="rdf">{{rdf}}</div></pre>
      </div>
    </mat-tab>
  </mat-tab-group>


</div>


