<div [ngClass]="{'instance__container-dark': darkMode}" class="instance__container example-tree">

  <mat-tab-group>
    <mat-tab label="Form">

      <div class="tab-header">
        <div class="mode-toggle__container">
          <span *ngIf="viewOnly" class="mode-toggle__text">View</span>
          <span *ngIf="!viewOnly" class="mode-toggle__text">Edit</span>
          <label class="toggle-button__container">
            <input (click)="toggleDisabled()" type="checkbox" class="mode-toggle__input"/>
            <span [ngClass]="{'mode-toggle__bg-checked': viewOnly}" class="mode-toggle__bg"></span>
            <span [ngClass]="{'mode-toggle__circle-checked': viewOnly}" class="mode-toggle__circle"></span>
          </label>
        </div>
      </div>

      <h2>{{database.getTitle()}}</h2>

      <form [formGroup]="form" *ngIf="form" style="margin:10px">
        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
          <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
            <li class="mat-tree-node" [ngClass]="{'instance__container-dark': darkMode}">
              <button mat-icon-button disabled></button>
              <app-question [disabled]="viewOnly" [node]="node" [parentGroup]="node.formGroup" style="width:100%"></app-question>
            </li>
          </mat-tree-node>
          <mat-nested-tree-node *matTreeNodeDef="let node; when: hasNestedChild">

            <li>
              <div class="mat-tree-node">
                <button mat-icon-button matTreeNodeToggle
                  [attr.aria-label]="'toggle ' + node.filename">
                  <mat-icon class="mat-icon-rtl-mirror">
                    {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                  </mat-icon>
                </button>
                <span [matTooltip]="node.help">{{node.name}}</span>
                <span *ngIf="node.minItems" style="padding:0 5px">
                  ({{(node.itemCount + 1)}}  of {{ node.maxItems || 'N'}})
                  <button mat-icon-button (click)="addNewItem(node)">
                    <mat-icon style="font-size:12px">add</mat-icon>
                  </button>
                  <button mat-icon-button (click)="deleteLastItem(node)">
                    <mat-icon style="font-size:12px">remove</mat-icon></button>
                </span>
              </div>

              <ul [class.example-tree-invisible]="!treeControl.isExpanded(node)" *ngIf="treeControl.isExpanded(node)">
                <app-element *ngIf="treeControl.isExpanded(node)" [node]="node" [parentGroup]="node.parentGroup"
                  [formGroup]="node.formGroup"></app-element>
                <ng-container matTreeNodeOutlet></ng-container>
              </ul>

            </li>
          </mat-nested-tree-node>
        </mat-tree>
      </form>

      <div>
        <button mat-raised-button color="primary" [disabled]="formInvalid || viewOnly" (click)="onSubmit(form.value)">Save
        </button>
      </div>

    </mat-tab>
    <mat-tab label="Value">
      <div *ngIf="payload">
        <div class="tab-header" >
          <button id="payloadCopy" mat-raised-button color="accent" (click)="copyToClipboard('payload','payloadCopy')">
            Copy
          </button>
        </div>
        <pre><span id="payload">{{ payload | json}}</span></pre>
      </div>
    </mat-tab>
    <mat-tab label="JSON-LD">
      <div *ngIf="jsonLD">
        <div class="tab-header" >
          <button id="jsonLDCopy" mat-raised-button color="accent" (click)="copyToClipboard('jsonLD', 'jsonLDCopy')">
            Copy
          </button>
        </div>
        <pre><span id="jsonLD">{{ jsonLD | json}}</span></pre>
      </div>
    </mat-tab>
    <mat-tab label="RDF">
      <div *ngIf="rdf">
        <div class="tab-header" >
          <button id="rdfCopy" mat-raised-button color="accent" (click)="copyToClipboard('rdf', 'rdfCopy')">
            Copy
          </button>
        </div>
        <pre><div id="rdf">{{rdf}}</div></pre>
      </div>
    </mat-tab>
  </mat-tab-group>


</div>


