<form [formGroup]="playerForm">
  <table>
    <tr>
      <td>
        <div>
          <input  formControlName="firstName" placeholder="First Name">
        </div>
      </td>
      <td>
        <div>
          <input  formControlName="lastName" placeholder="Last Name">
        </div>
      </td>
      <td>
        <div>
          <input  formControlName="position" placeholder="Position">
        </div>
      </td>
      <td>
        <div>
          <input  formControlName="number" placeholder="Number">
        </div>
      </td>
      <td>
        <!-- emit delete event up w/ index of player -->
        <button mat-raised-button color="primary" (click)="delete()">Delete</button>
      </td>
    </tr>
  </table>
  <pre>Player Form Status: <span class="status">{{playerForm.status}}</span></pre>
</form>

