




  <!--<form  [formGroup]="elementForm"  style="border:1px solid #ddd; width:100%;margin:10px;">-->


    <!--<ul>-->
      <!--<li *ngFor="let question of questions?.controls; let i = index">-->
        <!--<app-question [index]="i" [questionForm]="question" (getQuestion)="getQuesiton($event)" (deleteQuestion)="deleteQuesiton($event)"></app-question>-->
      <!--</li>-->
    <!--</ul>-->


    <!--<button  type="submit"  color="accent" (click)="onSubmit()" [disabled]="form.invalid">Submit</button>-->
    <!--<pre>-->
      <!--Form: <span class="status">{{elementForm.status}}</span>-->
      <!--Form: <span class="value">{{elementForm.value | json}}</span>-->
    <!--</pre>-->

  <!--</form>-->



  <div *ngIf="form; else load">



      <!--<form [formGroup]="form" >-->
        <!--<div *ngFor="let item of form.controls | keyvalue; let i = index">-->
          <!--<label for="{{item.key}}">{{item.key}}</label>-->
          <!--<input  formControlName="{{item.key}}" placeholder="{{item.key}}"  id="{{item.key}}" value="{{item.value.value}}">-->
        <!--</div>-->
      <!--</form>-->



      <form [formGroup]="form">

        <div *ngFor="let question of questions" class="form-row">
          <app-question [question]="question" [form]="form"></app-question>
        </div>


      </form>







  </div>
  <ng-template #load>

    <button (click)="loadForm(key)"  >
      Load {{key}}
    </button>

  </ng-template>




