




  <!--<form  [formGroup]="elementForm"  style="border:1px solid #ddd; width:100%;margin:10px;">-->


    <!--<ul>-->
      <!--<li *ngFor="let question of questions?.controls; let i = index">-->
        <!--<app-question [index]="i" [questionForm]="question" (getQuestion)="getQuesiton($event)" (deleteQuestion)="deleteQuesiton($event)"></app-question>-->
      <!--</li>-->
    <!--</ul>-->


    <!--<button  type="submit"  color="accent" (click)="onSubmit()" [disabled]="form.invalid">Submit</button>-->
    <!--<pre>-->
      <!--Form: <span class="status">{{elementForm.status}}</span>-->
      <!--Form: <span class="value">{{elementForm.value | json}}</span>-->
    <!--</pre>-->

  <!--</form>-->



  <!--<div *ngIf="form; else load">-->



      <!--<form [formGroup]="form" >-->
        <!--<div *ngFor="let item of form.controls | keyvalue; let i = index">-->
          <!--<label for="{{item.key}}">{{item.key}}</label>-->
          <!--<input  formControlName="{{item.key}}" placeholder="{{item.key}}"  id="{{item.key}}" value="{{item.value.value}}">-->
        <!--</div>-->
      <!--</form>-->



  app-element {{question | json}}

  <form [formGroup]="form" >



    <label [attr.for]="question.key">{{question.name}}</label>

      <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
        <button mat-icon-button matTreeNodeToggle
          [attr.aria-label]="'toggle ' + node.filename">
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>

        {{node | json}}

        <app-question [question]="node.question" [form]="form"></app-question>
      </mat-tree-node>

  </form>








  <!--</div>-->
  <!--<ng-template #load>-->

    <!--<button (click)="loadForm(key)"  >-->
      <!--Load {{key}}-->
    <!--</button>-->

  <!--</ng-template>-->




