<div>
  <form (ngSubmit)="onSubmit()" [formGroup]="form">

    <div *ngFor="let question of questions" class="form-row">
      <app-question [question]="question" [form]="form"></app-question>
    </div>

    <div class="form-row">
      <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Save</button>
    </div>
  </form>


  <mat-accordion id="document-preview">

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        questions
      </mat-expansion-panel-header>
      <pre id='form-json-preview'> {{questions | json}}</pre>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Status
      </mat-expansion-panel-header>
      <pre *ngIf="form">Form: <span class="status">{{form.status}}</span></pre>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        value
      </mat-expansion-panel-header>
      <div *ngIf="payload">
        <pre>Value: <span class="value">{{ payload | json}}</span></pre>
      </div>
    </mat-expansion-panel>


  </mat-accordion>

</div>
