<!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
  <!--&lt;!&ndash;<div class="col-xs-12 ">&ndash;&gt;-->
    <!--&lt;!&ndash;<cedar-pager ng-if="pagesArray.length>1" field="form" class="pull-right"&ndash;&gt;-->
      <!--&lt;!&ndash;close="close" is-active="isActive" paging="pagesArray.length>1"&ndash;&gt;-->
      <!--&lt;!&ndash;expand-all="expandAll" is-expandable="isExpandable" values="pagesArray" index="pageIndex" min="pageMin"&ndash;&gt;-->
      <!--&lt;!&ndash;max="pageMax" select="selectPage" range="6">&ndash;&gt;-->
    <!--&lt;!&ndash;</cedar-pager>&ndash;&gt;-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->


<!--<form name="forms.templateForm" id="{{form['@id'].substr(form['@id'].lastIndexOf('/') + 1) + '-' + path}}"-->
  <!--ng-class="{'validate': checkSubmission}" novalidate>-->
  <!--&lt;!&ndash;Loop through top level "page" parameter in form element and call cedar-template-element or field-directive with contents &ndash;&gt;-->

  <!--&lt;!&ndash;At runtime, the new form&ndash;&gt;-->
  <!--<div class=" page runtime"  ng-class="{'not-expanded': !isExpanded()}">-->

    <!--<div class="flex" style="min-height:2em;padding:5px 0;">-->
      <!--<div class="title form text-nowrap">-->
        <!--{{ pageTitle(pageIndex) }}</div>-->


      <!--&lt;!&ndash;<field-toolbar field="form"&ndash;&gt;-->
        <!--&lt;!&ndash;close="close" is-active="isActive" paging="false"&ndash;&gt;-->
        <!--&lt;!&ndash;expand-all="expandAll" is-expandable="isExpandable" values="pagesArray" index="pageIndex" min="pageMin"&ndash;&gt;-->
        <!--&lt;!&ndash;max="pageMax" select="selectPage" range="6">&ndash;&gt;-->
      <!--&lt;!&ndash;</field-toolbar>&ndash;&gt;-->

    <!--</div>-->
    <!--<div class="flex" style="justify-content:flex-start;align-items:stretch">-->

      <!--<div class="element-bar">-->
        <!--<div class='bar bar0' ></div>-->
      <!--</div>-->




      <!--<ul class="treeview tv" style="padding-left:0;list-style-type: none;">-->

        <!--<li *ngFor="let key of pages['order'][pageIndex]" class="animate-fade tv">-->




          <!--&lt;!&ndash;<div ng-if="isSectionBreak(item)" class="row">&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="section-break-inline">&ndash;&gt;-->
              <!--&lt;!&ndash;{{getFormTitle(item)}}&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->




          <!--&lt;!&ndash;If field&ndash;&gt;-->
          <!--<div  class="field-instance">-->
            <!--<app-field-->
              <!--[parent]="form"-->
              <!--[key]="key"-->
              <!--[model]="model"></app-field>-->
          <!--</div>-->

          <!--&lt;!&ndash;If element&ndash;&gt;-->
          <!--&lt;!&ndash;<div ng-if="isElement(item)" class=" element-group full">&ndash;&gt;-->
            <!--&lt;!&ndash;<cedar-runtime-element nested="false" element="form.properties[item]"&ndash;&gt;-->
              <!--&lt;!&ndash;key="item"&ndash;&gt;-->
              <!--&lt;!&ndash;parent-key="'form'"&ndash;&gt;-->
              <!--&lt;!&ndash;field-key="item"&ndash;&gt;-->
              <!--&lt;!&ndash;model="model[item]"&ndash;&gt;-->
              <!--&lt;!&ndash;parent-model="model"&ndash;&gt;-->
              <!--&lt;!&ndash;labels="form._ui.propertyLabels"&ndash;&gt;-->
              <!--&lt;!&ndash;relabel="relabel"&ndash;&gt;-->
              <!--&lt;!&ndash;delete="removeChild(form.properties[item])"&ndash;&gt;-->
              <!--&lt;!&ndash;is-edit-data="isEditData"&ndash;&gt;-->
              <!--&lt;!&ndash;path="0"&ndash;&gt;-->

              <!--&lt;!&ndash;uid="uid+'-'+item">&ndash;&gt;-->
            <!--&lt;!&ndash;</cedar-runtime-element>&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->

        <!--</li>-->
      <!--</ul>-->
    <!--</div>-->
    <!--<p ng-if="form.requiredFields" class="required-text">Required</p>-->
  <!--</div>-->

<!--</form>-->

<!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
  <!--&lt;!&ndash;<div class="col-xs-12 ">&ndash;&gt;-->
    <!--&lt;!&ndash;<cedar-pager ng-if="pagesArray.length>1" field="form" class="pull-right"&ndash;&gt;-->
      <!--&lt;!&ndash;close="close" is-active="isActive" paging="pagesArray.length>1"&ndash;&gt;-->
      <!--&lt;!&ndash;expand-all="expandAll" is-expandable="isExpandable" values="pagesArray" index="pageIndex" min="pageMin"&ndash;&gt;-->
      <!--&lt;!&ndash;max="pageMax" select="selectPage" range="6">&ndash;&gt;-->
    <!--&lt;!&ndash;</cedar-pager>&ndash;&gt;-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->



<div>
  <form (ngSubmit)="onSubmit()" [formGroup]="form">

    <div *ngFor="let question of questions" class="form-row">
      <app-question [question]="question" [form]="form"></app-question>
    </div>

    <div class="form-row">
      <button type="submit" [disabled]="!form.valid">Save</button>
    </div>
  </form>

  <div *ngIf="payLoad" class="form-row">
    <strong>Saved the following values</strong><br>{{payLoad}}
  </div>
</div>


