<div [formGroup]="formGroup" class="form-group">

  <label class="question-label" [attr.for]="node.filename" [matTooltip]="node.help">
    {{node.name}}
  </label>

  <div *ngIf="node.type !== 'element'" [ngSwitch]="node.type" style="margin:10px 0;">
    <div *ngFor="let control of formGroup.controls.values.controls;index as i">

      <span *ngIf="node.minItems && allowsMultiple(node.type)" >
        {{node.name}} ({{(i + 1)}}  of {{ node.maxItems || 'N' }})
        <button mat-icon-button (click)="addNewItem()"><mat-icon [inline]="true" style="font-size:14px">add</mat-icon></button>
        <button mat-icon-button (click)="deleteLastItem()"><mat-icon [inline]="true" style="font-size:14px">remove</mat-icon></button>
      </span>

      <div *ngSwitchCase="'controlled'">
        <controlled [group]="formGroup"  [controlledGroup]="controlledGroup" (onSelectedOption)="onSelectedOption($event)"></controlled>
      </div>

      <div *ngSwitchCase="'checkbox'" class="mat-form-field">
        <span *ngFor="let opt of node.options;let j = index" style="padding-right:10px">
          <label class="checkbox-label">
            <mat-checkbox
              [value]="opt.label"
              (change)="setChecked(node,opt.label);"
              [checked]="isChecked(node, opt.label)"
              [aria-label]="opt.label">
            </mat-checkbox>
            {{opt.label}}
          </label>
        </span>
      </div>

      <div *ngSwitchCase="'radio'">
        <mat-radio-group [formControl]="control" [labelPosition]="'after'"
          [value]="node.value[i]"
          (change)="onRadioChange(node,  i, control.value)"
          class="mat-form-field">
          <span *ngFor="let opt of node.options; let j = index" style="padding-right:10px">
          <label class="radio-label">
            <mat-radio-button [value]="opt.value"
              [aria-label]="opt.value"
              style="padding-right:10px">
              {{opt.label}}
            </mat-radio-button>
          </label>
          </span>
        </mat-radio-group>
      </div>

      <mat-form-field *ngSwitchCase="'textfield'" class="example-full-width mat-form-field">
        <input matInput [placeholder]="node.placeholder" [formControl]="control" [type]="node.subtype"
          (change)="onChange(node, i, control.value)"
          [value]="node.value[i]"
          [required]="node.required"
          [minlength]="node.minLength" [maxlength]="node.maxLength"
          [min]="node.min" [max]="node.max"
          [errorStateMatcher]="matcher">
        <mat-hint>{{node.hint}}</mat-hint>
        <mat-error *ngIf="control.hasError('url') && !control.hasError('required')">
          Please enter a valid URL
        </mat-error>
        <mat-error *ngIf="control.hasError('tel') && !control.hasError('required')">
          Please enter a valid telephone number
        </mat-error>
        <mat-error *ngIf="control.hasError('email') && !control.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="control.hasError('required')">
          Value is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="control.hasError('decimal')">
          Value must have exactly
          <strong>{{control.errors['decimal']['required']}}</strong>
          decimal places instead of
          <strong>{{control.errors['decimal']['actual']}}</strong>
        </mat-error>
        <mat-error *ngIf="control.hasError('min')">
          Value {{control.errors['min']['actual']}} must be larger than <strong>{{control.errors['min']['min']}}</strong>
        </mat-error>
        <mat-error *ngIf="control.hasError('max')">
          Value {{control.errors['max']['actual']}} must be smaller than <strong>{{control.errors['max']['max']}}</strong>
        </mat-error>
        <mat-error *ngIf="control.hasError('minlength')">
          Value length {{control.errors['minlength']['actualLength']}} is smaller than
          <strong>{{control.errors['minlength']['requiredLength']}}</strong>
        </mat-error>
        <mat-error *ngIf="control.hasError('maxlength')">
          Value length {{control.errors['maxlength']['actualLength']}} is larger than
          <strong>{{control.errors['maxlength']['requiredLength']}}</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field *ngSwitchCase="'textarea'" class="example-full-width mat-form-field">
      <textarea matInput [placeholder]="node.placeholder" [formControl]="control" type="text"
        [value]="node.value[i]"
        (change)="onChange(node,  i, control.value)"
        [required]="node.required"
        [errorStateMatcher]="matcher"></textarea>
        <mat-hint>{{node.hint}}</mat-hint>
        <mat-error *ngIf="control.hasError('required')">
          Value is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field *ngSwitchCase="'date'" class="mat-form-field">
        <input matInput [matDatepicker]="picker"  [placeholder]="node.placeholder" [formControl]="control"
          (dateChange)="onDateChange($event, node, i, control)"
          [value]="control.value">
        <mat-hint>{{node.hint}}</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <div *ngSwitchCase="'list'">
        <div *ngIf="node.multipleChoice">
          <mat-form-field  class="mat-form-field">
            <mat-select [placeholder]="node.placeholder" [formControl]="control" multiple [(ngModel)]="node.value[i]"
              [required]="node.required"
              (change)="onChange(node,  i, control.value)">
              <mat-option *ngFor="let opt of node.options" [value]="opt.label">{{opt.label}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div *ngIf="!node.multipleChoice">
          <mat-form-field class="mat-form-field">
            <mat-select matNativeControl [placeholder]="node.placeholder" [formControl]="control"
              [value]="node.value[i]"
              [required]="node.required"
              (change)="onChange(node,  i, control.value)">
              <mat-option *ngFor="let opt of node.options" [value]="opt.label">{{opt.label}}</mat-option>
            </mat-select>
            <mat-hint>{{node.hint}}</mat-hint>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>

</div>

