
<ng-container *ngIf="node.type == 'static';else notStaticType">

  <!-- youtube -->
  <div class="static-video" *ngIf="node.subtype == 'youtube'" [ngStyle]="{'max-width.px': getImageWidth(node)}">
    <youtube-player
      [videoId]="node.value"
      [height]="getImageHeight(node)"
      [width]="getImageWidth(node)"
      (ready)="savePlayer($event)"
      (change)="onStateChange($event)"></youtube-player>
    <div class="caption"><label>{{node.name}}</label></div>
  </div>

  <!-- image -->
  <figure class="static-image" *ngIf="node.subtype == 'image'" [ngStyle]="{'max-width.px': getImageWidth(node)}">
    <img class="image" src="{{node.value}}" width="{{getImageWidth(node)}}" alt="{{node.name}}"/>
    <figcaption class="caption"><label>{{node.name}}</label></figcaption>
  </figure>

  <!-- richtext -->
  <div *ngIf="node.subtype == 'richtext'">
    <div [innerHTML]="node.value"></div>
  </div>

  <!-- sectionbreak -->
  <div *ngIf="node.subtype == 'section-break'">
    <div class="section-break">
      {{node.name}}
    </div>
  </div>

  <!-- pagebreak -->
  <div *ngIf="node.subtype == 'page-break'">
    page-break
  </div>
</ng-container>

<ng-template #notStaticType>

  <div [formGroup]="formGroup" class="form-group">

    <label class="question-label" [attr.for]="node.name" >{{node.name}}</label>
    <button mat-icon-button class="help-text-button" *ngIf="node.help" [matTooltip]="node.help"><mat-icon>help_outline</mat-icon></button>


    <!-- attribute-value -->
    <div *ngIf="node.type == 'attribute-value'">
      <div *ngFor="let fg of formGroup.controls['values']['controls'];let j = index">
        <div style="display:flex;">
          <div class="example-full-width mat-form-field" style="padding-right:10px">
          <mat-form-field class="example-full-width mat-form-field" >
            <input matInput
              [formControl]="fg['controls']['values']['controls'][0]"
              [type]="node.subtype"
              (change)="onAVLabelChanges(node,j,'rdfs:label',fg['controls']['values']['controls'][0]['value']);">
            <mat-hint>Name</mat-hint>
          </mat-form-field>
          </div>

          <div class="example-full-width mat-form-field" >
          <mat-form-field class="example-full-width mat-form-field" >
            <input matInput
              [formControl]="fg['controls']['values']['controls'][1]"
              type="text"
              (change)="onAVValueChanges(node,j,'@value',fg['controls']['values']['controls'][1]['value']);">
            <mat-hint>Value</mat-hint>
          </mat-form-field>
          </div>

          <button mat-icon-button color="primary" *ngIf="!disabled" (click)="copyAttributeValue(node,j)">
            <mat-icon aria-label="Add attribute value" matTooltip="duplicate">
              file_copy
            </mat-icon>
          </button>
          <button mat-icon-button color="warn" *ngIf="!disabled" (click)="removeAttributeValue(node,j)">
            <mat-icon aria-label="Remove attribute value" matTooltip="remove">
              delete_forever
            </mat-icon>
          </button>
        </div>
      </div>
    </div>


    <div *ngIf="node.type !== 'element'" [ngSwitch]="node.type">
      <div *ngFor="let control of formGroup.controls['values']['controls'];index as i">

      <span *ngIf="node.minItems && allowsMultiple(node.type)">
        {{node.name}} ({{(i + 1)}}  of {{ node.maxItems || 'N' }})
        <button mat-icon-button class="node-add"  *ngIf="!disabled" [matTooltip]="copy" (click)="addNewItem()"><mat-icon>add_circle_outline</mat-icon></button>
        <button mat-icon-button class="node-remove"  *ngIf="!disabled" [matTooltip]="remove" (click)="deleteLastItem()"><mat-icon>remove_circle_outline</mat-icon></button>
      </span>

        <!-- controlled -->
        <div *ngSwitchCase="'controlled'">
          <controlled [group]="formGroup" [controlledGroup]="controlledGroup"
            (onRemovedOption)="onRemovedControlled($event)"
            (onSelectedOption)="onSelectedControlled($event)"></controlled>
        </div>

        <!-- radio -->
        <div *ngSwitchCase="'radio'">
          <mat-radio-group [formControl]="control" [labelPosition]="'after'"
            class="mat-form-field mat-form-field-radio">
          <span *ngFor="let opt of node.options; let j = index" style="padding-right:10px">
          <label class="radio-label">
            <mat-radio-button
              [disabled]="disabled"
              (click)="onChanges(node, i, opt['label'])"
              [value]="j"
              [aria-label]="opt['label']"
              style="padding-right:10px">
              <span>{{opt['label']}}</span>
            </mat-radio-button>
          </label>
          </span>
          </mat-radio-group>
        </div>

        <!-- checkbox -->
        <div *ngSwitchCase="'checkbox'" class="mat-form-field mat-form-field-radio">
        <span *ngFor="let opt of node.options;let j = index" style="padding-right:10px">
          <label class="checkbox-label">
            <mat-checkbox
              [disabled]="disabled"
              [value]="opt['label']"
              (change)="toggleChecked(node, i, opt['label']);onChanges(node, i, node.value)"
              [checked]="isChecked(node, i,opt['label'])"
              [aria-label]="opt['label']">
            </mat-checkbox>
            {{opt['label']}}
          </label>
        </span>
        </div>

        <!-- textfield -->
        <mat-form-field *ngSwitchCase="'textfield'" class="example-full-width mat-form-field">
          <input matInput [formControl]="control" [type]="node.subtype"
            [value]="node.value[i]"
            (change)="onChanges(node, i, control['value'])"
            [required]="node.required"
            [minlength]="node.minLength" [maxlength]="node.maxLength"
            [min]="node.min" [max]="node.max"
            [errorStateMatcher]="matcher">
          <mat-hint>{{node.hint}}</mat-hint>
          <mat-error *ngIf="control.hasError('url') && !control.hasError('required')">
            Please enter a valid URL
          </mat-error>
          <mat-error *ngIf="control.hasError('tel') && !control.hasError('required')">
            Please enter a valid telephone number
          </mat-error>
          <mat-error *ngIf="control.hasError('email') && !control.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="control.hasError('required')">
            Value is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="control.hasError('numeric')">
            Value must be a <strong>number</strong>
          </mat-error>
          <mat-error *ngIf="control.hasError('decimal')">
            Value must have exactly
            <strong>{{control.errors['decimal']['required']}}</strong>
            decimal places instead of
            <strong>{{control.errors['decimal']['actual']}}</strong>
          </mat-error>
          <mat-error *ngIf="control.hasError('min')">
            Value {{control.errors['min']['actual']}} must be larger than
            <strong>{{control.errors['min']['min']}}</strong>
          </mat-error>
          <mat-error *ngIf="control.hasError('max')">
            Value {{control.errors['max']['actual']}} must be smaller than
            <strong>{{control.errors['max']['max']}}</strong>
          </mat-error>
          <mat-error *ngIf="control.hasError('minlength')">
            Value length {{control.errors['minlength']['actualLength']}} is smaller than
            <strong>{{control.errors['minlength']['requiredLength']}}</strong>
          </mat-error>
          <mat-error *ngIf="control.hasError('maxlength')">
            Value length {{control.errors['maxlength']['actualLength']}} is larger than
            <strong>{{control.errors['maxlength']['requiredLength']}}</strong>
          </mat-error>
        </mat-form-field>

        <!-- textarea -->
        <mat-form-field *ngSwitchCase="'textarea'" class="example-full-width mat-form-field">
      <textarea matInput [formControl]="control" type="text"
        (change)="onChanges(node, i, control['value'])"
        [required]="node.required"
        [errorStateMatcher]="matcher"></textarea>
          <mat-hint>{{node.hint}}</mat-hint>
          <mat-error *ngIf="control.hasError('required')">
            Value is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <!-- date -->
        <mat-form-field *ngSwitchCase="'date'" class="mat-form-field">
          <input matInput [matDatepicker]="picker" [formControl]="control"
            (dateChange)="onChanges(node, i, control['value'])"
            [value]="control['value']">
          <mat-hint>{{node.hint}}</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error >
            {{control.errors | json}}
          </mat-error>
        </mat-form-field>

        <div *ngSwitchCase="'list'">
          <div *ngIf="node.multipleChoice">
            <mat-form-field class="mat-form-field">
              <mat-select [formControl]="control" multiple
                [required]="node.required"
                [(value)]="node.value[i]"
                (valueChange)="onChanges(node, i, node.value[i])">
                <mat-option *ngFor="let opt of node.options" [value]="opt['label']">{{opt['label']}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div *ngIf="!node.multipleChoice">
            <mat-form-field class="mat-form-field">
              <mat-select matNativeControl [formControl]="control"
                [required]="node.required"
                [(value)]="node.value[i]"
                (valueChange)="onChanges(node, i, node.value[i])">
                <mat-option *ngFor="let opt of node.options" [value]="opt['label']">{{opt['label']}}</mat-option>
              </mat-select>
              <mat-hint>{{node.hint}}</mat-hint>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>


  </div>
</ng-template>

