<div [formGroup]="form">

    <label [attr.for]="question.key">{{question.name}}</label>
  {{question.type}}

    <div [ngSwitch]="question.type">

      <input *ngSwitchCase="'textfield'" [formControlName]="question.key" [id]="question.key" [type]="text" value="{{question.value}}">

      <select  *ngSwitchCase="'dropdown'" [id]="question.key" [formControlName]="question.key">
        <option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</option>
      </select>

      <!--<app-element *ngSwitchCase="'element'"  [formControlName]="question.key" [question]="question"  [parent]="form" ></app-element>-->

    </div>

    <!--<div class="errorMessage" *ngIf="!isValid">{{question.label}} is required</div>-->
</div>
