<mat-form-field  class="mat-form-field">
<!--  {{node['value'][index] | json}}    {{node['model'][node.key][index] | json}}-->
  <input matInput
    [value]="node['value'][index]"
    [matDatepicker]="picker"
    [formControl]="control"
    (dateChange)="setDate(node, index, control['value']);onChanges(node, index, control['value'])">
  <mat-hint>{{node.hint}}</mat-hint>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
  <mat-error *ngIf="control['hasError']('matDatepickerParse')  &&  !control['hasError']('required')">
    Value must be a <strong>date</strong>
  </mat-error>
  <mat-error *ngIf="control['hasError']('required')">
    Value is <strong>required</strong>
  </mat-error>
</mat-form-field>
