<div [ngClass]="{'team__container-dark': darkMode}" class="team__container" style="margin:40px; ">
  <form [formGroup]="teamForm">
    Team Name: {{teamForm.controls.name.value}}

    <p>Players:</p>
    <button mat-raised-button color="primary" (click)="addPlayer()">Add Player</button>
    <ul>
      <li *ngFor="let player of players?.controls; let i = index">
        <nba-player [index]="i" [playerForm]="player" (deletePlayer)="deletePlayer($event)"></nba-player>
      </li>
    </ul>

    <button mat-raised-button color="primary" type="submit"  (click)="saveTeam()" [disabled]="teamForm.invalid">Submit</button>
    <pre>Parent Form Status: <span class="status">{{teamForm.status}}</span></pre>
    <pre>Parent Form Value: <span class="status">{{teamForm.value | json}}</span></pre>
  </form>
</div>
